Flask==2.0.2
keras==2.10.0
Keras_Preprocessing==1.1.2
nltk==3.7
numpy==1.21.6
pandas==1.5.2
scikit_learn==1.2.0
tensorflow==2.10.0
tensorflow_addons==0.18.0
torch==1.13.0
transformers==4.25.1
Werkzeug==2.2.2
